<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.upjs.ics.diagnostika5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityAFragmenty.ZaznamListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".databaza.ZaznamyContentProvider"
            android:authorities="sk.upjs.ics.diagnostika5"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ActivityAFragmenty.ZaznamDetailActivity" />
        <activity android:name=".ActivityAFragmenty.PridajManualneActivity" />
        <activity android:name=".ActivityAFragmenty.PridajStopkamiActivity" />
        <activity android:name=".ActivityAFragmenty.ZaznamDetailFrActivity"></activity>
    </application>

</manifest>